.footer__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;


    @include mobile {
        grid-template-columns: 1fr;
         text-align: center;
    }
}

.footer__adress {
    margin-bottom: 15px;
}

.footer__title {
    font-weight: $bold-weight;
}

.footer__social {
    font-size: 35px;
    text-align: center;

    @include mobile {
        margin-bottom: 15px;
    }
}

.footer__text {
    font-style: italic;
    line-height: 1.3;
}

.footer__link {}

.fa-twitter-square {
    color: #80d0f0;
}

.fa-facebook-square {
    color: #537bbd;
}

.fa-pinterest-square {
    color: #eb5755;
}

.footer__copyright {
    text-align: right;

    @include mobile {
        text-align: center;
    }
}
