.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include mobile {
        display: none;
    }
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #342860;
    padding: 0 40px;

    &:hover {
        color: inherit;
    }

    &:focus {
        outline: none;
    }

    @includ mobile {
        padding: 0 15px;
    }
}
