twitter__item {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.twitter__icon {
    display: block;
    margin-bottom: 30px;
    font-size: 50px;
    color: #56c7ee;

    @include mobile8p {
        font-size: 30px;
        margin-bottom: 15px
    }
}

.twitter__title {
    margin-bottom: 15px;
    text-transform: none;

    span {
        font-style: italic;
        color: #848789;
    }
}

.twitter__text {
    font-size: 24px;
    font-style: italic;
    margin-bottom: 100px;
    margin: 0 auto;
    max-width: 1045px;
    margin-bottom: 100px;

    @include tablet {
        max-width: 768px;
        margin-bottom: 50px;
    }

    @include mobile {
        max-width: 668px;
        font-size: 20px;
    }

    @include mobile8p {
        font-size: 16px;
        margin-bottom: 25px;
        padding: 0 15px;
    }
}
