// Colors
$main-color: #848789; // gray
$second-color: #353738; //black
$thems-color: #64c29e; //green

// Fonts
$main-weight: 400;
$bold-weight: 700;
$main-size: 16px;
$title-size: 18px;
$main-height: 1.8;

// Responsive
//$tablet-max-width: 1024;
//$mobile-max-width: 768;
//$mobile8p-max-width: 416;
//$mobilese-max-width: 320;

